body{
    background-color:#f4f4f4;
    color: #555555;
    font: normal 16px Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    margin:0;
}

img {
    max-width: 360px;
}

div.c {
    width: 30%;
    border: 1px solid black;  
}

cite { 
    font-style: italic;
}

/* global styles to all links on page*/
a{
    text-decoration: none;
    color: black;
}

h1{
    color: green
}

.container{
    width:80%;
    margin:auto;
}

.box-1{
    background-color: rgba(0, 0, 255, 0.258);
    color:#fff;
    border:10px gray;
    padding:20px;

    margin-top:30px;
}

.box-2{
    border:3px dotted #ccc;
    padding:20px;
    margin:20px 0;
}


.categories{
    border:1px #ccc solid;
    padding:10px;
}

.categories h2{
    text-align:center;
}

.categories ul{
    padding:20px;
    list-style:square;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

#customers tr:nth-child(even) {
    background-color: #D3D3D3;
}

