header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}
body {
	background-color: ;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
}

nav ul {
	font-size: 1.2em;
}
nav a:visited {
	color: #344873;
}
nav a:hover {
	color: #FFFFFF;
}
h1 {
	margin-bottom: 0;
	padding: 10px;
}
h2 {
	color: #3399CC;
}
h1,
h2 {
	font-family: Georgia, "Times New Roman", serif;
}
#contact {
	font-size: 90%;
}
dt {
	color: #000033;
}
footer {
	font-family: Georgia, "Times New Roman", serif;
}


/* MGO: my additions for HW2 are below 
 still to do: 
 layer background-color:#00569f under gradient
 to fix nav height problem: test % and min width on all parts 
    to add up to % and min HEIGHT on body to constrain nav 
    or test padding of nav and test margin of footer?
*/

#wrapper {
	margin-top: auto;
	opacity: 1;
	background-color: #FFFFFF;
}
h1 {
	background-image:url("sunset.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: white;
	margin-top: 20px;
}
nav {  
	float:left;
	width:190px;
	height: 600px; 
	background-color: skyblue;
}
nav > ul {
	list-style-type: none;
	font-weight: bold;
}
nav a:link {
	text-decoration: none;
	color:#344873;
}
#content {
	margin-top:0px;
    margin-left:190px;    
	padding:0px 30px 60px 30px;
}
#content li {
	list-style-position: inside;
}
img {
	float: left;
	padding: 0px 20px 0px 0px;
}
body {
    background-repeat: repeat-x;
	width:80%;
	min-width: 600px;
	margin: auto;
    background-image: url("ptrbackground.jpg");
}
 div > ul {
	list-style-image: url('marker.gif');
}
span {
	color: cadetblue;
	font-style:bold;
	font-size: 1.1em;
}
footer {
	clear: left;
	position: relative;
	left: 190px;
	font-style: italic;
	padding: 15px;
	font-size: 0.8em;
}
footer a:link {
	color:navy;
}
nav {
	margin-right: 20px;
	height:80%;
	min-height: 500px;
	margin: auto;
}
